.vs
.cr
.git
MediasiteToKalturaXmlExport/export
MediasiteToKalturaXmlExport/bin
MediasiteToKalturaXmlExport/obj
/MediasiteToKalturaXmlExport/appsettings.json
/MediasiteToKalturaXmlExport/mediasiteToKalturaMap.json
/MediasiteToKalturaXmlExport/mediasiteToKalturaMapLocal.json
